{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>웹툰 추천 봇</title>
    <style>
        body{
        }
        div{
            text-align: center;
        }
        label{ display:inline-block; width:300px; line-height:15px; vertical-align:middle}

    </style>
</head>
<body>
    <div><img src= "{% static 'img/naver_webtoon_whitee.jpg' %}"</div>
    <h1> 🤖 🤖 </h1>
    <div id = "top">추천 유형을 선택해주세요.</div><br>
    <div id = "recommendation">
        <a href="ver1">1. 맥주간 유사도 기반 추천</a><br><br>
        <a href="ver2">2. 내 평점이 반영된 맥주 추천</a>
    </div>

    <br><br><br>


    <div></div>
    <h1> 🤖 🤖 </h1>
    <div id = "top">봤던 웹툰을 체크해주세요.</div><br>
    <div style="text-align:left" id = "recommendation">
    <form method="POST">
        {% csrf_token %}
        <ul name="testing">
            {% for tmp in webtoon_list %}
                <input style="zoom:2.0" align="center" type="checkbox" id="user_webtoon_list" name="user_webtoon_list" value="{{tmp}}">
                <label for="user_webtoon_list"> {{tmp}}</label><br>
            {% endfor %}
        </ul>
        <input align="center" class="btn btn-success" type="submit" value="Pick!" align="center">
    </form>
    </div>
</body>
</html>